<% if @player.errors.any? %>
      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<h1> </h1>
<div class="form-group form-inline">
	<%= f.label :first_name, "First Name" %><br>
	<%= f.text_field :first_name, :class => "form-control", :placeholder => "Input First Name" %>
</div>

<div class="form-group form-inline">
	<%= f.label :last_name, "Last Name" %><br>
	<%= f.text_field :last_name, :class => "form-control", :placeholder => "Input Last Name" %>
</div>

<div class="form-group form-inline">
	<%= f.label :number, "Jersey Number" %><br>
	<%= f.number_field :number, :class => "form-control", :placeholder => "# Number" %>
</div> 

<div class="form-group form-inline">
	<%= f.label :birthday, "Birthday" %><br>
	<%= f.date_select :birthday , :start_year => 1978 , :end_year => 2000 ,:class => "form-control" %>
</div> 

<div class="form-group form-inline">

	<%= f.label :team, "Team" %><br>
	<%= f.text_field :team, :class => "form-control",:placeholder => "Chicago Bulls" %>

</div>

<div class="form-group form-inline">
	<%= f.label :position, "Position" %><br>

    <%= f.radio_button :position, "Center" %>
	<%= f.label :position, "Center" %><br>
	<%= f.radio_button :position, "Forward" %>
	<%= f.label :position_forward, "Forward" %><br>
	<%= f.radio_button :position, "Guard" %>
	<%= f.label :position_guard, "Guard" %><br>
	
</div>

<div class="form-group form-inline">
	<%= f.label :experience, "Exp years" %><br>
	<%= f.text_field :experience, :class => "form-control",:placeholder => "10" %>
</div>

