<h1> Player List </h1>
<table class = "table">
	 <% @all_players.each do |player| %>
  <tr>
  	<td>
     <%= player.username %>
     <%= player.first_name %>
    </td>

    <td>
    	<%= link_to 'Show', player_path(player), :class => "btn btn-primary" %>
    	<%= link_to 'Edit', edit_player_path(player), :class => "btn btn-default" %>
    	<%= link_to 'Delete', player_path(player), :method => :delete, :class => "btn btn-danger" %>
    </td>
   </tr>
  <% end %>
</table>

<%= link_to 'Add New Player', new_player_path %>
<%= paginate @all_players %>