
  <div class = "pull-left">
    <%= image_tag("icon-60.png") %>
  </div>
  <div class = "pull-left">
     <h1> Player List </h1>
  </div>


<table class = "table table-striped table-bordered ">
  <thead class = "thead">
    <th>
      <%= "#"%>
    </th>
    <th>
       <%= "First Name"%>
    </th>
    <th>
       <%= "Last Name" %>
    </td>
    <th>
       <%= "Team" %>
    </td>
    <th>
       <%= "Position" %>
    </td>
    <th>
      <%= "Action"%>
    </th>
  </thead>
  <tbody>
    <% @all_players.each do |player| %>
  <tr>
    <td>
       <%= player.number %>
    </td>
    <td>
       <%= player.first_name %>
    </td>
    <td>
       <%= player.last_name %>
    </td>
     <td>
       <%= player.team %>
    </td>
     <td>
       <%= player.position %>
    </td>

    <td>
      <%= link_to 'Show', player_path(player), :class => "btn btn-primary" %>
      <%= link_to 'Edit', edit_player_path(player), :class => "btn btn-default" %>
      <%= link_to 'Delete', player_path(player, page: params[:page]) ,:method => :delete, :class => "btn btn-danger" %>
    </td>
   </tr>
  <% end %>
  </tbody>
	 
</table>

<div>
<%= link_to 'Add New Player', new_player_path, :class => "btn btn-primary" %>
</div>
<div >
<%= paginate @all_players %>
</div>


